.input-texto {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 32px;
    line-height: 170%;
   
   
   }
body {
  

            width: 100%;
			height: 100vh;
			color: #fff;
			background: linear-gradient(45deg,rgb(174, 71, 71),blue,rgb(113, 56, 56),rgb(188, 72, 72),blue,rgb(152, 151, 223));
			background-size: 400% 400%;
			position: relative;
			animation: cambiar 25s ease-in-out infinite;

        }

@keyframes cambiar{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}
main {
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;


}
.input-texto {
    margin-top: 120px;
    border-radius: 5px;
    border-color: rgb(30, 105, 253);


}

.mensaje {
    position: relative;
    margin-top: 0px;
    margin-left: 60px;
    background-image: url("imagenes/img.png.png");
    background-repeat: no-repeat;
    background-position: 50px;
    background-size: 450px;
    background-color: rgb(247, 247, 249);
    border-radius: 5px;
    border-color: #104df6;
    

}
.copiar {
    position: relative;
    margin-top: 20px;
    margin-left: 205px;
    padding: 20px;
    width: 25%;
    height: 11%;
    border-radius: 24px;
    background-color:  #e25050;
    border-color: #244772;
    background: linear-gradient(45deg,rgb(167, 189, 45),blue,rgb(50, 120, 163),rgb(201, 54, 54),rgb(0, 255, 157),rgb(143, 93, 141));
	background-size: 400% 400%;
	position: relative;
	animation: cambiar 35s ease-in-out infinite;
    

    

}
.botones {
    display: flex;
    flex-direction: row;
    margin-top: 15px;

}
.encriptar {
    background-color: rgb(36, 36, 146);
    color: white;
    padding: 20px;
    width: 35%;
    height: 60%;
    border-radius: 24px;
    margin-left: 5%;
    background: #5394e9;
    color: #F3F5FC;
    border-color: #244772;
    color: #fff;
	background: linear-gradient(45deg,rgb(167, 189, 45),blue,rgb(50, 120, 163),rgb(201, 54, 54),rgb(0, 255, 157),rgb(143, 93, 141));
	background-size: 400% 400%;
	position: relative;
	animation: cambiar 30s ease-in-out infinite;



}
.desencriptar {
    margin-left: 20px;
    padding: 20px;
    width: 35%;
    height: 60%;
    border-radius: 24px;
    margin-left: 5%;
    background: #e54848;
    border-color: #244772;
    color: #fff;
	background: linear-gradient(45deg,rgb(46, 211, 49),rgb(212, 154, 45),rgb(34, 126, 184),rgb(199, 49, 97),rgb(219, 153, 61),rgb(143, 93, 141));
	background-size: 400% 400%;
	position: relative;
	animation: cambiar 30s ease-in-out infinite;
  

}
.informacion {
      font-size: 15px;

}
.img2 {
    margin-left: 25%;
    margin-bottom: -11%;
}

